#navbar-container{
    direction: rtl;

    position: fixed;
    top: 0;
    margin: 0;

    height: 70px;
    width: 100%;
    background-color: rgb(100 45 202);
    color: white;

    z-index: 1;
}

#change_language{
    display: flex;
    float: left;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-size: 23px;
    font-family: emoji;
}

.Navbar{
    display: flex;
    height: 100%;
    margin: 0;
    list-style-type: none;
    width: fit-content;
}

.item{
    line-height: 70px;
    margin: 0 11px;
    padding: 0 7px;
    font-size: 90%;
}

.item:hover{
    background-color: rgb(6, 41, 6);
    cursor: pointer;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 700px) {
    .Navbar{
        display: none;
    }

    .Navbar.active{
        display: block;
        position: fixed;
        height: 100%;
        width: 50%;
        padding: 0;
        right: 0;
        background-color: royalblue;
    }
    
    .menu-icon{
        display: inline-block;
    }
}