#skill-container{
    width: 100%;
}

progress{
    appearance: none;
    direction: rtl;
    width: 100%;
}

progress::-webkit-progress-bar {
  background-color: white;   /* رنگ دلخواهِ زمینه */
  border-radius: 20px;          /* گوشه‌های گرد */
  border: 2px solid #1a1e27; /* رنگ دلخواهِ حاشیه */
}

/* بخش پُر-شدهٔ نوار در WebKit */
progress::-webkit-progress-value {
  background-color: #38e452;   /* رنگ دلخواهِ پیشرفت */
  border-radius: 6px;          /* برای هم‌سطح شدن با لبه‌ها */
  transition: width 2s ease-out;
}

/* فایرفاکس (مقیاس موزیلا) */
progress::-moz-progress-bar {
  background-color: #3b82f6;
  border-radius: 6px;
}