.skills{
    width: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 20px;
    background-color: #367d9e;
    color: white;
    direction: rtl;
}

progress{
    width: 100%;
    appearance: none;
    direction: rtl;
}

progress::-webkit-progress-bar {
  background-color: white;  
  border-radius: 20px;         
  border: 2px solid #1a1e27;
}

progress::-webkit-progress-value {
  background-color: #38e452;  
  border-radius: 6px;         
  transition: width 2s ease-out;
}

progress::-moz-progress-bar {
  background-color: #3b82f6;
  border-radius: 6px;
}